/* grid styling */
use {
  transition: 0.4s;
  cursor: pointer;
  fill: transparent;
}
.pod-wrap use:hover {
  fill: #000000;
}

#pod {
  transform-box: fill-box;
  transform-origin: 50% 50%;
}

#pod:hover {
  transform: "scale(0.8)";
}

/* other styling */
svg {
  width: 600px;
  flex: 1;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  height: 100vh;
  font-weight: 700;
  font-family: sans-serif;
}
a {
  color: #ccc;
  padding: 10px;
  text-decoration: none;
  transition: color 0.4s;
}
a:hover {
  color: #333;
}
